BOOK_SERVICE_URL=http://localhost:9000/api/books
USER_SERVICE_URL=http://localhost:9001/api/users
LEND_SERVICE_URL=http://localhost:9002/api/lendings
CONFIG_SERVICE_URL=http://localhost:9003/api/configs
#DateUtil Related Configs
#ISSUE_PERIOD=14
#FINE_PER_DAY=8
BASE_YEAR=1900
#Reporting Related Configs
BOOK_REPORT_HEADER=Book Code,Title,Author,Category
USER_REPORT_HEADER=User ID,Name,Contact,Address
LEND_REPORT_HEADER=Lend ID,User ID,Book Code,Issue Date,Due Date,Delay,Fine,Returned
BOOK_REPORT_PATH=book-list.csv
USER_REPORT_PATH=user-list.csv
LEND_REPORT_PATH=lend-list.csv
